defaults:
  - _self_

base_model: "Qwen/Qwen2.5-1.5B"

run_name: "original"
checkpoints_dir: "checkpoints"
results_root: "results/decode_run"
include_base: false
skip_existing: true
save_per_checkpoint: true

model:
  model_name: ${base_model}
  tokenizer_name: ${base_model}
  gpu_memory_utilization: 0.5
  max_seq_length: 1024
  load_in_4bit: true
  fast_inference: true

datasets:
  # - "amc23"
  - "gsm8k"
  # - "math500"
split: "test"
num_samples: -1
max_prompt_length: 512

eval:
  repeat_cnt: 1
  sample_cnt: 5
  batch_size_groups: 1
  num_generations: 8
  max_new_tokens: 512
  pass_k: [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0]
  run_default: true
  default_use_vllm: true

default_decode:
  do_sample: true
  temperature: 0.9
  top_p: 1.0
  top_k: 0

wandb:
  enable: true
  project_name: "SMC_EVAL_RUN_BASE"
  run_name: "decode"
  group: null
  entity: null

hydra:
  run:
    dir: outputs
  output_subdir: null
  job:
    chdir: false
