model:
  model_name: Qwen/Qwen2.5-3B #"Qwen/Qwen2.5-Math-1.5B-Instruct" #"Qwen/Qwen2.5-3B-Instruct"
  gpu_memory_utilization: 0.5
  max_seq_length: 2048
  lora_rank: 64
  load_in_4bit: true
  fast_inference: false # use_vllm
  target_modules:
    - "q_proj"
    - "k_proj"
    - "v_proj"
    - "o_proj"
    - "gate_proj"
    - "up_proj"
    - "down_proj"
  random_state: 42
wandb:
  enable: true
  project_name: "SMCGRPO"
  run_name: debug #"Instruct-GSM8K-16-16-Run1"
rl:
  algorithm: "SMCGRPO"
  dataset: "math"
  max_prompt_length: 1024
  max_completion_length: 1024
  num_generations: 16
  max_steps: 8000
  save_strategy: "time"
  save_steps: 100
  save_interval: 1800
  max_time: .inf
  beta: 0.0
  epsilon: 0.2
  epsilon_high: #0.28 # one sided
  delta: #1.5 # two sided
  loss_type: 'grpo' # 'bnpo', 'dr_grpo'
  mask_truncated_completions: # True #DAPO
  resume_from_checkpoint:
optim:
  learning_rate: 5e-6
  lr_scheduler_type: "constant"
  # use_vllm: false # TODO: optimize on vllm
  optim: "adamw_8bit" #TODO: muon optimizer
  adam_beta1: 0.9
  adam_beta2: 0.99
  weight_decay: 0.1
  warmup_ratio: 0.01
  temperature: 0.9
  max_grad_norm: 0.1
  per_device_train_batch_size: 16 # We now expect `per_device_train_batch_size` to be a multiple of `num_generations`
  gradient_accumulation_steps: 1
  logging_steps: 1
smc:
  use_smc: true
  smc_warmup_tokens: 50 # smc_warmup_tokens = max(smc_warmup_tokens, smc_confidence_window_size)
  smc_beta: 1.0 #TODO: later use for kl term
  smc_confidence_eta: 0.5 #TODO: temperature로 교체
  smc_ess_threshold: 0.1 #TODO: smc_resample_threshold로 교체
  smc_confidence_window_size: 20
  smc_topk: -1 # top_logprobs in deepconf.
