model:
  model_name: Qwen/Qwen2.5-3B
  gpu_memory_utilization: 0.5
  max_seq_length: 1024
  lora_rank: 64
  load_in_4bit: true
  fast_inference: true # use_vllm
  target_modules:
    - "q_proj"
    - "k_proj"
    - "v_proj"
    - "o_proj"
    - "gate_proj"
    - "up_proj"
    - "down_proj"
  random_state: 42
wandb:
  enable: true
  project_name: "SMCGRPO_FINAL_BASE_CONFIDENCE"
  run_name: SMC_Self_3B-BASE_512_W512_N16_D8 #"Instruct-GSM8K-16-16-Run1"
rl:
  algorithm: "SMCGRPO" # GRPO, SMCGRPO, "MaxVarGRPO"
  dataset: "math"
  max_prompt_length: 512
  max_completion_length: 512 #TODO: debugging temporarily
  num_generations: 16
  num_generations_grad: 8
  max_steps: 8000
  save_strategy: "steps" #"steps"
  save_steps: 100
  save_interval: 100 #1800 # 1800
  max_time: .inf
  beta: 0.0
  epsilon: 0.2
  epsilon_high: #0.28 # one sided
  delta: #1.5 # two sided
  loss_type: 'grpo' # 'bnpo', 'dr_grpo'
  mask_truncated_completions: # True #DAPO
  resume_from_checkpoint: true
optim:
  learning_rate: 5e-6
  lr_scheduler_type: "constant"
  optim: "adamw_8bit"
  adam_beta1: 0.9
  adam_beta2: 0.99
  weight_decay: 0.1
  warmup_ratio: 0.01
  temperature: 0.9
  max_grad_norm: 0.1
  per_device_train_batch_size: 1 # We now expect `per_device_train_batch_size` to be a multiple of `num_generations`
  gradient_accumulation_steps: 1
  logging_steps: 1
smc:
  use_smc: true
  step_token: "\n\n"
  stop_token: "\\boxed"
  max_steps: 1000
  # tokens_per_step: 16  # leave commented to use step_token mode
  smc_confidence_eta: 1.0 #TODO: temperature로 교체
  smc_confidence_window_size: 512
  smc_topk: 1
  return_eos: true
  return_all: false #TODO: no longer needed.
  self_reward: true
  drop_reward_scheme: progress # progress | penalty #TODO: no longer needed.
  drop_reward_coef: 0.1 #TODO: no longer needed.
  return_all_limit_per_group: 128  # null keeps all extras; set int to cap per prompt group #TODO: no longer needed.
  confidence:
    from_base_model: true
    scoring: "prob" #logprob, prob, cdf
    cdf_alpha: 0.25
    group: "geo" #geo
    aggregation: "last" # prod, min, mean, last
prm: 
  use_prm: false
  model_name: Qwen/Qwen2.5-Math-PRM-7B # Skywork-o1-Open-PRM-Qwen-2.5-1.5B
  aggregation: "model" # last, min, prod, model
  gpu_memory_utilization: 0.9
  cuda: 2
